[push]
    default = simple
[alias]
    br = branch
    ci = commit
    cleanall = clean -fdx :/
    cleanalle = clean -fdx :/ -e node_modules
    co = checkout
    df = diff --color-words -w --ignore-space-at-eol
    dfc = diff --cached --color-words -w --ignore-space-at-eol
    dfcc = diff --cached --color-words --word-diff-regex=. -w --ignore-space-at-eol
    dfcm = diff --cached --color-words -w --ignore-space-at-eol origin/master
    dfo = diff --color-words -w --ignore-space-at-eol origin
    dt = difftool -y
    dtbc = difftool --tool=bc -y
    dtkd = difftool --tool=kdiff3 --no-prompt
    dtkdc = difftool --tool=kdiff3 --no-prompt --cached
    dtvs = difftool --tool=vs -y
    l = log --graph -n5
    ll = log --pretty=oneline --graph --all
    loghere = log --no-merges --first-parent
    meld = difftool -tool meld -y
    mergedmain = merge-base origin/main HEAD
    mtbc = mergetool --tool=bc -y
    mtkd = mergetool --tool=kdiff3 --no-prompt
    mtvs = mergetool --tool=vs -y
    name = symbolic-ref --short HEAD
    pom = pull origin master
    rb = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
    st = status
    tp = tfs
[core]
    excludesfile = ~/.config/git/ignore
    autocrlf = input
[diff]
#    tool = vsdiffmerge
    tool = bc
[merge]
    #tool = vsdiffmerge
    tool = kdiff3
[difftool]
    prompt = true
[mergetool]
    prompt = true
    keepBackup = false
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool "bc"]
    path = C:\\Program Files\\Beyond Compare 4\\BComp.exe
[mergetool "bc"]
    path = C:\\Program Files\\Beyond Compare 4\\BComp.exe
[difftool "vs"]
    cmd = '"C:/Program Files (x86)/Microsoft Visual Studio 12.0/Common7/IDE/vsDiffMerge.exe"' "$LOCAL" "$REMOTE" //t
    keepbackup = false
    trustexitcode = true
[mergetool "vs"]
    cmd = '"C:/Program Files (x86)/Microsoft Visual Studio 12.0/Common7/IDE/vsDiffMerge.exe"' "$REMOTE" "$LOCAL" "$BASE" "$MERGED" //m
    keepbackup = false
    trustexitcode = true
[difftool "vsdiffmerge"]
    cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\IDE\\vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
    keepbackup = false
    trustexitcode = true
[mergetool "vsdiffmerge"]
    cmd = \"C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\IDE\\vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
    trustexitcode = true
    keepbackup = false
[color "diff"]
    whitespace = red reverse
